.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 60px;
  width: 75px;
  background-color: white;
  z-index: 21;
  
}


.sidebar-links{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}


.sidebar-links:hover{
  background-color: rgb(239, 239, 239);
}


.sidebar-links img{
  height: 25px;
  margin-bottom: 4px;

}

.sidebar-links div{
  font-size: 10px;

}

